<!doctype html>
<html>
	<head></head>
	<body>
		<h2 align="center"><%= button_to "Back", tree_builder_path, method: :get, params: { str: @string },  class: 'button' %></h2>
		<h1 align="center">Vector Processor</h2>
		<h1 align="center" >Input String: <%= @string %></h1>
		<div align="center">
		<h2 style="color: red;">Top Result <%= @array_of_max.min %></h2>
		<% for i in 0..@array_of_strings.length-1 %>
			<h2><%= @array_of_strings[i] + " - " + @array_of_max[i].to_s %></h2>
		<% end %>
		</div>
	</body>
</html>