<!doctype html>
<html>
    <head>
    </head>
    <body>
    	<h2 align="center"><%= button_to "Back", tree_builder_path, method: :get, params: { str: @string },  class: 'button' %></h2>
    	<h1 align="center" >Input String: <%= @string %></h1>
    	<div align="center">
        	<canvas id='tree'></canvas>
        </div>
    </body>
</html>