<!doctype html>
<html>
    <head>
    </head>
    <body>
    <h1 align="center">Tree Builder</h1>
    <div align="center">
        <%= form_tag tree_builder_parcer_path, method: :get do %>
            <%= text_field :myform, :field, :cols => '40', :rows => '5', :value => @string %>
            <%= submit_tag 'Check' %>
        <% end %>
	</div>
    </body>
</html>