<!doctype html>
<html>
	<head></head>
	<body>
		<h2 align="center"><%= button_to "Back", tree_builder_path, method: :get, params: { str: @string },  class: 'button' %></h2>
		<h1 align="center">Vector Processor</h2>
		<div id="vector_processor"></div>
	</body>
</html>